.App {
  text-align: center;
}
img{
  border: 1px solid #ddd;
  border-radius: 50%;
  height:auto;
  width:300px;
}
img:hover {
  transform: scaleX(-1);
}
h1{
  text-align: center;
  color:#fabea7;
  font-size:2;
 font-family: serif;
}
h2{
 text-align: center;
 color:#93b5e1;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
